@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SpaceMono;
  src: url("/SpaceMono.ttf");
}

@font-face {
  font-family: Chillax;
  src: url("/Chillax-Variable.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("/Poppins-Variable.ttf");
}

@font-face {
  font-family: Quicksand;
  src: url("/Quicksand-Variable.ttf");
}
